.sidebar {
  width: 80px; 
  background-color: var(--color-fondo);
  border-right: 1px solid var(--color-borde);
  border-left: 2px solid var(--color-primario); 
  transition: width 0.3s ease;
  overflow-x: hidden;
  overflow-y: auto; /* nos permite scrollear si la lista es muy larga */
  display: flex;
  flex-direction: column;
}


.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar::-webkit-scrollbar-track {
  background: var(--color-fondo);
}
.sidebar::-webkit-scrollbar-thumb {
  background: var(--color-borde);
  border-radius: 10px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
  background: var(--color-primario);
}


.sidebar.expandida {
  width: 250px; 
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  gap: 0.5rem;
}

.sidebar__link {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  color: var(--color-texto);
  transition: all 0.3s ease;
  white-space: nowrap;
  position: relative; 
}

.sidebar__link:hover {
  background-color: var(--color-superficie);
}

.sidebar__link i {
  font-size: 28px;
  min-width: 32px; 
  display: flex;
  justify-content: center;
}
/* nombre de las cat */
.sidebar__texto {
  margin-left: 1rem;
  font-size: var(--body);
  font-weight: 500;
  color: var(--color-primario); 
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Muestra el texto solo cuando está expandida */
.sidebar.expandida .sidebar__texto {
  opacity: 1;
  transition-delay: 0.1s;
}

.sidebar__separador {
  height: 1px;
  background-color: var(--color-borde);
  margin: 1rem 1.5rem;
}


/* ESTADO DE NAV ACTIVO */
.sidebar__link.activo {
  background: linear-gradient(90deg, rgba(13, 216, 199, 0.15) 0%, transparent 100%);
}
/* el texto y el icono cambian de color y tienen movimiento */
.sidebar__link.activo i,
.sidebar__link.activo .sidebar__texto {
  color: var(--color-secundario-luz);
  text-shadow: 0 0 12px rgba(124, 242, 233, 0.6);
  transform: translateX(6px); /* Efecto de "avanzar" al hacer click */
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar__link.activo::before {
  content: '';
  position: absolute;
  left: 0;
  top: 15%;
  height: 70%;
  width: 4px;
  background-color: var(--color-secundario-luz);
  box-shadow: 0 0 10px var(--color-secundario-luz);
  border-radius: 0 4px 4px 0;
  animation: deslizarMarcador 0.3s ease forwards;
}
@keyframes deslizarMarcador {
  0% { transform: scaleY(0); opacity: 0; }
  100% { transform: scaleY(1); opacity: 1; }
}
